@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body, html{
  padding: 0;
  margin: 0;
  background-color: #f1b83d;
}

img{
  border-radius: 15px;
}

.content{
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  background: #f1b83d;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

h4{
 margin: auto;
  margin-top: 20px;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  color: #FFDB89;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

button{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    background-color: #FFF6C3;
}


button:hover{
  background-color: #FFDB89;
  transition: 0.5s;
}

a{
  color: white;
}

.center{
   text-align: center;
}
